#projects {
    box-shadow: var(--box-shadow-section);
    padding: var(--padding-section);
}

.projects-container {
    display: flex;
    gap: 3rem;
    margin: 5rem 0;
    justify-content: center;
    align-items: center;
}

.projects-container > div {
    width: clamp(15rem, 30vw, 40rem);
    padding: 2rem 3rem;
    /* background: linear-gradient(121.7deg, #5272ff1e  50%, rgba(129, 130, 145, 0.473) 69%); */
    background: linear-gradient(150deg, #5272ff07  60%, rgba(129, 130, 145, 0.178) 80%);
    border-radius: 1rem;
    color: var(--text-color-theme);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    text-align: center;
    /* transition: 0.1s ease-in-out; */
}
 
    .projects-container h1{
        margin-bottom: 1rem;
    }

#projects .projects-container:first-of-type{
    margin-top: 0;
}

.project-img, .project-img1{
    width: 50vw;   
    max-width: 45rem;
    /* transition: .2s ease-in-out; */
}

/* .projects-container{
    animation: blurScale linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 30%;
} */


.project-img{
    box-shadow: -25px 30px 15px rgba(0, 0, 0, 0.4);
}

.project-img1 {
    box-shadow: 25px 30px 15px rgba(0, 0, 0, 0.4);
}

    /* .project-img:hover, .project-img1:hover, .projects-container > div:hover{
        transform: scale(1.02);
    } */

.projects-hr{
    border: 0;
    height: 2.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}
.projects-hr:hover{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #299fff, rgba(0, 0, 0, 0));
}

.projects-container a{
    text-decoration: none;
    color: var(--text-color-theme);
}

.visit-site-right, .visit-site-left{
    font-size: clamp(.8rem, 2vw, 1rem);
}

.visit-site-right{
    text-align: end;
}

.visit-site-right:hover, .visit-site-left:hover{
    transform: scale(1.01);
}
@media screen and (max-width: 1200px) {
    #projects{
        padding: 5rem 5% 2rem   ;
    }
    .projects-container{
        gap: 2rem;
    }

}

@media screen and (max-width: 1100px) {
    .projects-container{
        flex-direction: column;
    }

    .project-img, .project-img1,.projects-container div{
        width: 100%; 
        max-width: 50rem;
    }

    .col-reverse{
        flex-direction: column-reverse;
    }

    .projects-container div{
        padding: 1rem;
    }
}
