
.buttons-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.cs-btn{
    display: flex;
    gap: 2rem;
}
.glc-btn{
    display: flex;
    gap: 1rem;
}

.resume-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-theme);
    border-radius: 2rem;
    text-decoration: none;
    font-weight: bold;
    gap: .5rem;
}

.resume-button, .contact-me-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    max-width: 15rem;
    min-width: 12rem;
    border: none;
    height: 4rem;
    padding: 0 1rem 0 0;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: border-color 0.3s;
    border-bottom: 5px solid transparent;
}

.resume-button{
    background: linear-gradient(121.7deg, rgb(41, 116, 250) 22.9%, rgb(67, 212, 255) 69%);
}

.contact-me-button{
    background: linear-gradient(121.7deg, rgba(183, 183, 192, 0.664) 49%,  rgba(231, 227, 227, 0.87)  80%);
}

.download-icon, .email-icon{
    width: 3rem;;
}

.contact-me-button:active, .resume-button:active{
        transform: translateY(4px);
        box-shadow: none;
        background-color: white;
}

.contact-me-button:hover{
    border-bottom-color: var(--sub-color-theme);
    filter: drop-shadow(7px 7px 12px #000000);

}
.resume-button:hover{
    border-bottom-color: var(--text-color-theme);
    filter: drop-shadow(7px 7px 12px #000000);
}

.github-img, .linkedin-img, .call-img{
    width: 4rem;
    object-fit: contain;
    background-color: var(--text-color-theme);
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;    
}

.github-img:hover, .linkedin-img:hover, .call-img:hover{
    /* background-color: var(--sub-color-theme); */
    background: linear-gradient(111.7deg, rgb(41, 116, 250) 10%, rgb(67, 212, 255) 80%);
    filter: drop-shadow(7px 7px 12px #000000);
    transform: scale(1.08);
}

.glc-btn > *{
    transition: 0.3s ease-in-out;    
}
.glc-btn > *:hover{
    transform: scale(1.1);
}


.contact-me-button, .resume-button, .github-img, .linkedin-img, .call-img{
    opacity: 0;
    transform: translateX(100%);
    animation: slideInFromRight 2s forwards;
  
}

.phone-num {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translateY(-50%) translateX(10px); /* Start my phone num slightly to the right */
    opacity: 0;
    background-color: var(--container-color-theme);
    color: var(--text-color-theme);
    padding: 1rem 2rem;
    border: 1px solid rgb(168, 168, 168);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
}

.call-img-container {
    position: relative;
    display: inline-block;
}

.call-img:hover + .phone-num {
    opacity: 1;
    transform: translateY(-50%) translateX(0); /* Move tmy num o the original position */
    transition: opacity 0.3s ease, transform 0.3s ease;
}



@keyframes slideInFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animated-button:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .animated-button:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .animated-button:nth-child(3) {
    animation-delay: 0.5s;
  }
  
  .animated-button:nth-child(4) {
    animation-delay: 0.7s;
  }

@media screen and (max-width: 1080px) {
    .phone-num {
        top: 120%;
        left: 50%;
        transform: translate(-50%, 10px); /* Position below and center aligned */
        border-top-right-radius: 0;
        border-bottom-left-radius: 2rem;
    }

    .call-img:hover + .phone-num {
        transform: translate(-50%, 0); /* Move my num to the original position */
    }
}

@media screen and (max-width: 865px ) {
    .buttons-container{
        display: block;
    }
    .glc-btn{
        align-items: center;
        justify-content: center;
    }
    .cs-btn{
        flex-direction: column;
        gap: .5rem;
        margin-bottom: .5rem;
    }

    .contact-me-button, .resume-button, .github-img, .linkedin-img, .call-img{
        animation: fadeIn 2.5s forwards;
    }
}
