:root{
    --text-color-theme: rgba(231, 227, 227, 0.87);
    --main-color-theme: #151d2a;
    --container-color-theme: #5272ff1e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Ubuntu', sans-serif;
}


body{
    background: var(--main-color-theme);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,16,54,1) 58%, rgba(61,166,187,1) 100%); */
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

