#skills{
    overflow: hidden;
    width: 100vw;
    /* max-width: 65rem; */
    padding: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background: rgba(68, 69, 70, 0.329);
}

.skillTitle{
    font-weight: 700;
    font-size: 3.5rem;
    padding-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.skillDescription{
    font-size: 1rem;
    font-weight: 400;
    max-width: 50rem;
    text-shadow: 5px 5px 20px rgb(129, 129, 129);
}

.skillBarContainer{
    margin: 1.5rem;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skillBar{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .8rem;
    padding: 10px;
    /* background: rgb(50, 50, 50); */
    border-radius: 20px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0, 1);
}

.skillBar > img{
    width: 8rem;
    height: auto;
    object-fit: cover ;
    max-width: 100%;
}

.skillBar:hover{
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}


@media screen and (max-width: 720px) {
    .skillBar > p{
        font-size: 2vw;
    }

    .skillDescription{
        max-width: 40rem;
    }
    
}

@media screen and (max-width: 480px) {
    .skillBar > img {
        width: 5rem;
    }    
 

    .skillDescription{
        max-width: 20rem;
    }
}
/* 
@media screen and (max-width:850px){
    .skillDescription{
        max-width: 40rem;
    }
    .skillBar > p{
        font-size: 2vw;
    }


}

@media screen and (max-width:630px){
    .skillDescription{
        max-width: 25rem;
    }

    .skillBar > p{
        font-size: 3vw;
    }

    .skillBar > h2{
        font-size: 5vw;
    }
} */