#about{
  padding: 5rem 0;
  min-height: 80vh;
  box-shadow: var(--box-shadow-section);
}

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
  background: linear-gradient(141.7deg, #5272ff1e  60%, rgba(129, 130, 145, 0.473) 89%);
  border-radius: 2rem;
  width: fit-content;
  margin: 5rem auto 0;  
  padding: 2rem;

  animation: blur linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 20%;
}

.about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  color: var(--text-color-theme);
  line-height: 2.5rem;
}

  .about-info span{
    font-weight: 600;
    /* font-size: 1.5rem; */
    color: rgba(189, 189, 228, 0.493);
  }
  
  .about-info p{
    transition: transform 0.2s ease-in-out;
    margin: 0;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    animation: scaleText linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

    .about-info p:hover{
      transform: scale(1.1);
      box-shadow: 0px 40px 18px rgba(0, 0, 0, 0.1);
    }

  .about-img{
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin: 0 3rem;
    height: 100%;
    width: 22rem;
    min-width: 10rem;
    max-width: 20rem; 
    border-radius: 20rem;
    padding-right: auto;
    box-shadow: 20px 23px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;    
    -webkit-user-drag: none;
    cursor: crosshair;

    /* animation: scaleInFromLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%; */
  }
  .about-img:hover{
    transform: scale(1.1);

  }

.about-paragraph{
  font-family: "Caveat", cursive;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  line-height: 2.6rem;
  background: linear-gradient(151.7deg, #9aaeffd0  25%, rgb(147, 159, 175) 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: transform 0.2s ease;
  margin-top: 5rem;
}

.about-paragraph p{
  margin: 0 15%;
}

.about-paragraph p:first-of-type(1){
  animation: scaleInFromLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.about-paragraph:hover {
  background: linear-gradient(151.7deg, #b6bcd3d0  35%, rgb(83, 147, 231) 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about-hr{
  margin: 2rem auto;
  border: 0;
  display: none;
  height: 2.5px;
  width: 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}

@media screen and (max-width: 1400px){
  .about-paragraph{
    padding: 5rem;
  }
}


@media screen and (max-width: 970px) {
  .about-container{
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    text-align: center;
  }
  .about-img{
    width: 50%;
  }

  .about-hr{
    display: block;
  }
  .about-paragraph{
    font-size: 2rem;
    padding: 0;
  }
}


@media screen and (max-width: 500px) {
  .about-info, .about-info span{
    font-size: 1.1rem;
  }

  .about-info span{
    font-weight: 600;
  }

  .about-title{
    font-size: 3rem;
  }
  .about-paragraph{
  padding: 3rem .5rem;
  border-radius: 0;
}

.about-paragraph p:nth-child(2){
  display: none;
}
}