#about{
  padding: var(--padding-section);
  min-height: 80vh;
  box-shadow: var(--box-shadow-section);
}

.about-title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 5rem;
  color: var(--text-color-theme);
  background-clip: text;
}

.about-title:hover{
  color: var(--text-hover-color);
}

.about-container{
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
  background: linear-gradient(141.7deg, #5272ff1e  60%, rgba(129, 130, 145, 0.473) 89%);
  border-radius: 2rem;
  width: fit-content;
  margin: 5rem auto 0;  
  padding: 2rem;
}

.about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  font-size: 1.3rem;
  color: var(--text-color-theme);
  line-height: 2.5rem;
}

  .about-info span{
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(189, 189, 228, 0.493);
  }
  
  .about-info p{
    transition: transform 0.2s ease-in-out;
  }

    .about-info p:hover{
      transform: scale(1.1);
      box-shadow: 0px 40px 18px rgba(0, 0, 0, 0.1);
    }

  .about-img{
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin: 0 3rem;
    height: 100%;
    width: 22rem;
    min-width: 10rem;
    max-width: 20rem; 
    border-radius: 20rem;
    padding-right: auto;
    box-shadow: 20px 23px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;    
    -webkit-user-drag: none;
    cursor: crosshair;
  }
  .about-img:hover{
    transform: scale(1.1);

  }

.about-paragraph{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 2rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  background: linear-gradient(151.7deg, #9aaeffd0  25%, rgb(147, 159, 175) 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: transform 0.2s ease;
}

.about-paragraph:hover {
  background: linear-gradient(151.7deg, #b6bcd3d0  35%, rgb(83, 147, 231) 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about-hr{
  margin: 5rem auto 0;
  border: 0;
  height: 2.5px;
  width: 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}



@media screen and (max-width: 1400px){
  .about-paragraph{
    padding: 5rem;
  }
}


@media screen and (max-width: 777px) {
  .about-container{
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    text-align: center;
  }
  .about-img{
    width: 50%;
  }
  .about-paragraph{
    margin: 2rem 0;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 620px) {
  .about-container{
    border-radius: 0%;
    margin: 1rem 0;
  } 
}

@media screen and (max-width: 500px) {
  .about-info, .about-info span{
    font-size: 1.1rem;
  }

  .about-info span{
    font-weight: 600;
  }

  .about-title{
    font-size: 3rem;
  }
  .about-paragraph{
  padding: 3rem .5rem;
  border-radius: 0;
  /* background: linear-gradient(141.7deg, #5272ff1e  60%, rgba(129, 130, 145, 0.473) 89%); */
}
}