#contact{
    min-height: 90vh;
    padding: var(--padding-section);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container{
    /* background: rgba(68, 69, 70, 0.329); */
    background: linear-gradient(151.7deg, #5272ff1e  50%, rgba(129, 130, 145, 0.473) 69%);

}

.contactTitle{
    color: var(--text-color-theme);
    font-weight: 700;
    font-size: 3.5rem;
    padding-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.contactTitle:hover{
    color: rgb(147, 181, 238);
}

.contactDescription{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .contactMessage{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: var(--text-color-theme);
    background-color: rgb(40, 40, 40);
}

.submit-btn{
    padding: .5rem 2.5rem;
    border-radius: 20rem;
    background-color: var(--text-color-theme);
    transition: transform 0.5s, box-shadow 0.5s;
    border: none;
    margin: 3rem 0;
    cursor: pointer;
}
.submit-btn:hover{
    transform: scale(1.1);
}
.submit-btn:active{
        transform: translateY(4px);
        box-shadow: none;
        color: var(--text-color-theme);
        background-color: var(--container-color-theme);
}

@media screen and (max-width: 650px) {
    #contact{
        margin: 2rem auto;
    }    
}
