#contact{
    min-height: 80vh;
    background: linear-gradient(151.7deg, #5272ff1e  50%, rgba(129, 130, 145, 0.473) 69%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5rem 0;
}

#contact > div{
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactTitle{
    color: var(--text-color-theme);
    font-size: 6rem;
    animation: titleAppear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    -moz-animation: titleApear linear;
}

.contactDescription{
    padding: 1rem 0 .5rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color-theme);
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .contactMessage{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: var(--text-color-theme);
    background-color: rgb(40, 40, 40);
}

.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    height: 2rem;
    border-radius: 20rem;
    background-color: var(--text-color-theme);
    transition: transform 0.5s, box-shadow 0.5s;
    border: none;
    margin: 3rem 0;
    cursor: pointer;
}
.submit-btn:hover{
    transform: scale(1.1);
}
.submit-btn:active{
        transform: translateY(4px);
        box-shadow: none;
        color: var(--text-color-theme);
        background-color: grey;
}

.extra{
    position: absolute;
    bottom: 1rem; 
    right: 3rem;
    z-index: 1000;
    color: var(--text-color-theme);
    font-size: clamp(.8rem, 1vw, 1.5rem);
}

@media screen and (max-width:800px) {
    .extra{
        right: unset;
    } 
}