.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 4rem 2rem 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(30, 30, 30);
}


.logo{
    height: 4rem;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: -moz-none;
    cursor: pointer;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}
    .desktopMenuListItem:hover{
        color: blue;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid blue;
    }

.desktopMenuButton{
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 0 1rem 0 0;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;

}
.desktopMenuButton:active{
        transform: translateY(4px);
        box-shadow: none;
        background-color: white;
}

.desktopMenuButton:hover{
    border-bottom: 4px solid blue; 
}

.desktopMenuImg{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 1rem;
}