#intro{
    padding: 15% 12%;
    box-shadow: var(--box-shadow-section);  
    position: relative;
    min-height: 85vh;
    overflow-x: hidden;
    
}

.benz-img{
    position: absolute;
    width: clamp(20rem, 70vw, 45rem);
    right: 8rem;
    top: 10rem;
    opacity: 0;
    transform: translateX(100%);
    animation: slideInFromRight 2.5s forwards;
    filter: drop-shadow(13px 7px 12px #000000);
    pointer-events: none; 
}

.intro-name-container{
    animation: fadeIn 2.5s forwards;
}

.intro-name{
    font-size: clamp(3.5rem, 5vw, 4.5rem);
    cursor: default;
    background: linear-gradient(90deg, rgb(55, 143, 214) 0%, rgba(160,211,221,1) 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;  
    margin: 0;
    overflow-x: visible;
}

.intro-name:hover{
    color: var(--sub-color-theme);

}

.intro-bio{
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: var(--text-color-theme);
    margin: 0;
}

.intro-extra:hover{
    transform: scale(1.08);
}
.intro-extra > span{
    text-decoration: line-through   ;
}

.intro-description{
    width: 50%;
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 1.8rem;
    color: var(--text-color-theme);
}


.lottie-background{
    display: none;
}

@media screen and (max-width: 1700px) {
    #intro{
        padding: 15% 5%;
    }
    .benz-img{
        right: 0;
        margin: -4rem;
        z-index: 1;
    }
    
}

@media screen and (max-width: 1400px) {
    .benz-img{
        position: static;
        padding: 0;
    }

    #intro, .intro-name-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-name-container{
        text-align: center;
    }

    .intro-description{
        width: 90%;
        margin-bottom: 2rem;
        text-align: center;
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
}

@media screen and (max-width: 825px) {
    .intro-name-container{
        margin-top: 2rem;
    };
}

@media screen and (max-width: 500px) {
    #intro{
        padding: 0 10% 20%;
        overflow-y: hidden;
    }

    .intro-name-container{
        margin-bottom: 2rem;
    }
    
    .benz-img{
        margin-left: .5rem;
    }

    .lottie-background{
        display: block;
        position: absolute;
        z-index: -99;
        width: 39rem;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

