#intro{
    padding: 15% 12%;
    box-shadow: var(--box-shadow-section);  
}

.benz-img{
    position: absolute;
    z-index: -1;
    height: 50vh;
    min-width: 40vh;
    right: 12rem;
    top: 16rem;
    opacity: 0;
    transform: translateX(100%);
    animation: slideInFromRight 2.5s forwards;
    filter: drop-shadow(13px 7px 12px #000000);
}

.intro-name-container{
    animation: fadeIn 2.5s forwards;
}

.intro-name{
    font-size: 6.5rem;
    cursor: default;
    background: linear-gradient(90deg, rgb(55, 143, 214) 0%, rgba(160,211,221,1) 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "Caveat", cursive ;
    margin: 0;
    overflow-x: visible;

    animation: titleAppear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    -moz-animation: titleApear linear;
}

.intro-name:hover{
    color: var(--sub-color-theme);

}

.intro-bio{
    font-size: 2.5rem;
    color: var(--text-color-theme);
    margin: 0;
    font-family: "Caveat", cursive ;

}

.intro-extra{
    font-size: .8rem;
    color: rgba(182, 182, 182, 0.185);
    transition: transform 0.3s ease-in;    
}

.intro-extra:hover{
    transform: scale(1.08);
}
.intro-extra > span{
    text-decoration: line-through   ;
}

.intro-description{
    width: 50%;
    margin: 2rem 0;
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: 100;
    border-radius: 1.8rem;
    color: var(--text-color-theme);
    font-family: "Poppins", sans-serif;
    text-shadow: -2px 1px 10px rgba(134, 149, 250, 0.616);
}

@media screen and (max-width: 1250px) {
    .benz-img{
        display: none;
    }

    #intro, .intro-name-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-name-container{
        margin-top: 2rem;
        text-align: center;
    }

    .intro-description{
        width: 90%;
        margin: 3rem 0 1rem;
        text-align: center;
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
}

@media screen and (max-width: 825px) {
    .intro-name-container{
        text-align: center;
    };

    #intro{
        padding: 0rem 1rem 5rem 0;
    }

}


@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


@keyframes slideInFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
