.footer{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 8rem;
    background: rgb(40, 40, 40);
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-color-theme);
    padding: 0 2%;
    gap: 1rem;
    color: var(--text-color-theme);
}

.footer-name{
    grid-column: 2;
    font-size: clamp(2rem, 3vw, 3vw);
    text-align: center;
    font-family: "Caveat", cursive ;
}

.footer-icon-container{
    display: flex;
    align-items: center;
    gap: .5rem;
    grid-column: 3;
    justify-self: end;
}

.footer-email{
    grid-area: 1 / 1 / 2 / 2;
    font-size: clamp(1rem, .8vw, 2rem);
    font-weight: 400;
    
}

.footer-icon-container > a {
    display: flex;
    align-items: center;
}

.footer-icon-container > a > svg{
    width: 2rem;
}

.footer-icon-container > a > svg:hover{
    fill: var(--sub-color-theme);
}

.footer-icon-container > a:visited,
.footer-icon-container > a:link {
    color: inherit;
    text-decoration: none;
}
